<h1> Create an account </h1<% 
if @user.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @users.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>>
	
<div id="signUp">

	<%= form_for @user, html: {class: "center"} do |f| %>

		<%= f.text_field :first_name, placeholder: "First Name" %><br>
		
		<%= f.text_field :last_name, placeholder: "Last Name" %><br>

		<%= f.text_field :username, placeholder: "Username" %><br>

    <%= f.password_field :password, placeholder: "Password" %><br>

		<%= f.submit "Sign Up", :class => 'buttons'%>

	<% end %>

</div>