<%= form_for :post do |f| %>

  <div class="post">

    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="post">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="post">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="submitPost">
    <%= f.submit %>
  </div>

  <%= button_to "Delete", "@posts/#{@post.id}", method: "delete" %>

<% end %>